@page "/about"

<PageTitle>როგორ მუშაობს?</PageTitle>

<div id="accordion-collapse" data-accordion="collapse" class="col-span-12 bg-background">
    @foreach (var entry in FaqEntry.All())
    {
        <h2 id="faq-@entry.Id">
            <button type="button"
                    class="flex items-center justify-between w-full p-5 border border-gray-200 rounded-t-md focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 hover:bg-gray-100 gap-3"
                    data-accordion-target="#faq-@entry.Id"
                    aria-expanded="true"
                    aria-controls="faq-@entry.Id">
                <span>@entry.Question</span>
                <Heroicon Name="@HeroiconName.ArrowDown" data-accordion-icon class="size-4"/>
            </button>
        </h2>

        <div id="faq-entry-@entry.Id" class="@(entry.Shown ? "hidden" : "")" aria-labelledby="@entry.Question">
            <div class="p-5 border border-b-0 border-gray-700 bg-background">
                @entry.Answer
            </div>
        </div>
    }
</div>