@using Application.Dto

<div class="relative flex flex-row-reverse overflow-x-hidden w-full md:flex-col justify-between gap-3">
    <div class="block md:hidden absolute w-full border border-neutral-500 top-6"></div>

    @foreach (var block in Blocks.Take(5))
    {
        <a @key="@block.Index" href="blockchain/blocks/@block.Index"
           class="flex flex-row flex-shrink-0 justify-start items-center w-auto md:w-full gap-3 p-0 md:p-4 cursor-pointer
                  bg-[#50505050] hover:bg-[#606060] font-mono text-nowrap truncate
                  border border-party-card rounded-md transition-transform
                  animate-[slideDown_0.5s_ease_forwards]">
            <div class="flex justify-center items-center w-20 h-14 md:w-16 md:h-16 rounded-md"
                 style="background-image: linear-gradient(@(block.Index * 2047 % 360)deg,#6b6dc8,#6b81c8,#9194d1);">
                <Heroicon Name="@HeroiconName.Link" class="hidden md:block w-8 h-8"/>
                <span class="block text-sm md:hidden">@(block.Index.ToString("N0"))</span>
            </div>

            <div class="hidden md:flex flex-col items-start text-md">
                <span>
                    @(block.Index.ToString("N0"))
                </span>

                <span class="hidden md:flex w-full flex-row justify-between text-xs text-gray-400">
                    <span>@(block.Mined.ToString("dd MMM yyyy HH:mm:ss UTCzz"))</span>
                </span>

                <div>
                    <span class="font-archyedt">@(block.VoteCount) ხმა</span>
                    <span class="text-gray-400">@((int)(block.SizeBytes / 1024))Mb</span>
                </div>
            </div>
        </a>
    }
</div>

@code
{
    [Parameter, EditorRequired]
    public List<BlockDto> Blocks { get; set; } = [];

    public void AddBlock(BlockDto block)
    {
        Blocks.Insert(0, block);

        if (Blocks.Count > 7)
            Blocks = Blocks[..^1];
    }
}