@using Application.Dto

@page "/blockchain/blocks/{Hash}"
@page "/blockchain/blocks/{Index:long}"

<Card Class="h-full flex flex-col md:flex-row items-start p-3 md:p-5 gap-3">
    <div class="w-full md:w-auto flex flex-col gap-3">
        <div class="flex flex-row w-full gap-3 text-nowrap">
            <div class="flex justify-center text-white flex-shrink-0 items-center w-14 h-14 rounded-md"
                 style="background-image: linear-gradient(@WebUtil.GetGradientDegrees(Model.Index)deg,#c8956b,#c8ab6b,#d1ce91);">
                <Heroicon Name="@HeroiconName.Link" class="block w-8 h-8"/>
            </div>

            <div class="flex flex-col items-start h-full">
                <h2 class="text-2xl text-white">ბლოკი</h2>

                <span class="text-lg text-wrap text-start break-all text-gray-400 leading-4">
                    @Model.Index.ToString("N0")
                </span>
            </div>
        </div>

        <div class="flex flex-col leading-4 font-mono text-start text-gray-400">
            <span>@Model.Hash[..32]-</span>
            <span>@Model.Hash[32..]</span>
        </div>

        <hr class="border-s border-gray-500 w-full"/>

        <section class="text-start text-lg leading-6 text-gray-400 max-w-md [&>b]:text-white">
            ამ ბლოკში სულ არის <b>@Model.Votes.Count</b> ხმა.<br/>
            პირველ ადგილას არის:
            <span class="@Model.TopParty.GetTextClass()">
                @Model.TopParty.Name.
            </span>
        </section>

        <hr class="border-s border-gray-500 w-full"/>

        <section class="flex w-full flex-shrink-0 flex-col text-start text-lg max-w-md text-nowrap truncate -space-y-1">
            <div class="flex flex-row justify-between [&>property]:text-white [&>value]:text-gray-400">
                <property>ჰეში</property>
                <value>@Model.ShortHash</value>
            </div>

            <div class="flex flex-row justify-between [&>property]:text-white [&>value]:text-gray-400">
                <property>ნონსი</property>
                <value>@Model.Nonce.ToString("N0")</value>
            </div>

            <div class="flex flex-row justify-between [&>property]:text-white [&>value]:text-gray-400">
                <property>ხმების რაოდენობა</property>
                <value>@Model.Votes.Count.ToString("N0")</value>
            </div>

            <div class="flex flex-row justify-between [&>property]:text-white [&>value]:text-gray-400">
                <property>ტევადობა</property>
                <value>@(((float)Model.Votes.Count / 128).ToString("P2"))</value>
            </div>

            <div class="flex flex-row justify-between [&>property]:text-white [&>value]:text-gray-400">
                <property>მაინინგ დრო</property>
                <TimeTracker For="@Model.Mined" class="text-gray-400"/>
            </div>

            <div class="flex flex-row justify-between [&>property]:text-white [&>value]:text-gray-400">
                <property>Mrkl root</property>
                <value>@Model.ShortMerkleRoot</value>
            </div>

            <div class="flex flex-row justify-between [&>property]:text-white [&>value]:text-gray-400">
                <property>წინა ბლოკის ჰეში</property>
                <value>@Model.ShortPreviousHash</value>
            </div>
        </section>

        <hr class="block md:hidden border-s border-gray-500 w-full"/>
    </div>

    <vr class="hidden md:block border-s border-gray-500 h-full"/>

    <div class="h-full overflow-y-scroll scrollbar-none">
        <h2 class="text-2xl text-white text-start">ხმები</h2>

        <VoteList Votes="@Model.Votes" Max="100"/>
    </div>
</Card>

@code
{
    [Parameter]
    public string? Hash { get; set; }

    [Parameter]
    public long? Index { get; set; }

    private BlockDto Model { get; } = BlockDto.RandomBlockDto();
}