@using System.Security.Cryptography
@using Domain.Common

<div class="flex flex-col justify-between gap-3">
    <h2 class="hidden md:block font-archyedt text-3xl" @onclick="@(() => AddTransaction(NextTransaction))">უახლესი ხმები</h2>

    @foreach (var transaction in _transactions)
    {
        <a @key="@transaction.Hash"
           href="blockchain/votes/@transaction.Hash"
           class="flex flex-row items-center gap-3 p-4 justify-between cursor-pointer rounded-md
                  bg-[#50505050] hover:bg-[#606060] font-mono text-nowrap truncate border @transaction.Party.GetBorderClass()
                  transition-transform animate-[slideDown_0.5s_ease_forwards]">
            <span>
                @transaction.ShortHash
            </span>

            <span class="text-gray-400">
                @(transaction.Added.ToString("HH:mm:ss"))
            </span>

            <span class="@transaction.Party.GetTextClass() font-extrabold font-2xl">
                @transaction.Party.Id
            </span>

            <a href="blockchain/voters/@transaction.VoterAddress" class="text-gray-400 hover:underline">
                @transaction.ShortVoter
            </a>
        </a>
    }
</div>

@code
{
    public record MinimalTransaction(string Hash, DateTime Added, Party Party, string VoterAddress)
    {
        public string ShortHash => $"{Hash[..4]}-{Hash[^4..]}";
        public string ShortVoter => $"{VoterAddress[..16]}";
    }

    private static string RandomString()
    {
        var buffer = new byte[16];
        Random.Shared.NextBytes(buffer);
        return SHA256.HashData(buffer).ToHexString();
    }

    private List<MinimalTransaction> _transactions =
    [
        new MinimalTransaction(RandomString(), DateTime.Now, new Party(Random.Shared.GetItems([5, 9, 36, 42], 1)[0]), "0x" + RandomString()[22..]),
        new MinimalTransaction(RandomString(), DateTime.Now.AddDays(-1), new Party(Random.Shared.GetItems([5, 9, 36, 42], 1)[0]), "0x" + RandomString()[22..]),
        new MinimalTransaction(RandomString(), DateTime.Now.AddDays(-2), new Party(Random.Shared.GetItems([5, 9, 36, 42], 1)[0]), "0x" + RandomString()[22..]),
    ];

    private MinimalTransaction NextTransaction => new(
        RandomString(),
        DateTime.Now,
        new Party(Random.Shared.GetItems([5, 9, 36, 42], 1)[0]),
        "0x" + RandomString()[22..]);

    private void AddTransaction(MinimalTransaction transactions)
    {
        _transactions.Insert(0, transactions);

        if (_transactions.Count > 10)
            _transactions = _transactions[..^1];
    }
}