<a href="blockchain/blocks/@Block.Index"
   class="flex flex-row items-center gap-3 p-4 cursor-pointer
          bg-[#50505050] hover:bg-[#606060] font-mono border border-party-card rounded-[5px]
          transition-transform animate-[slideDown_0.5s_ease_forwards]">
    <div class="flex justify-center items-center w-16 h-16 rounded-[5px]"
         style="background-image: linear-gradient(@Random.Shared.Next(0, 360)deg,
             #6b6dc8,
             #6b81c8,
             #9194d1);">
        <Heroicon Name="@HeroiconName.Link" class="w-8 h-8"/>
    </div>

    <div class="flex flex-col items-start text-sm">
        <span>@(Block.Index.ToString("N0"))</span>
        <span class="text-xs text-gray-400">
            @(Block.Mined.ToString("dd MMM yyyy • HH:mm:ss • UTCzz"))
        </span>
        <span>@(Block.VoteCount) Votes • @(Block.SizeBits.ToString("F2")) Mb</span>
    </div>
</a>

@code
{
    public record MinimalBlock(long Index, DateTime Mined, int VoteCount)
    {
        public double SizeBits => (double)VoteCount * 128 / 1000;
    }

    [Parameter, EditorRequired]
    public MinimalBlock Block { get; set; } = default!;
}
