<a href="blockchain/transactions/@Transaction.Hash"
   class="flex flex-row items-center gap-3 p-4 cursor-pointer rounded-[5px]
          bg-[#50505050] hover:bg-[#606060] font-mono border @Transaction.Party.GetBorderClass()
          transition-transform animate-[slideDown_0.5s_ease_forwards]">
    <span class="hover:underline">@Transaction.ShortHash</span>

    <span class="text-gray-400">
        @(Transaction.Added.ToString("HH:mm:ss"))
    </span>

    <span class="@Transaction.Party.GetTextClass() font-extrabold font-2xl">
        @Transaction.Party.Id
    </span>

    <a href="blockchain/voters/@Transaction.VoterAddress" class="hover:underline">
        @Transaction.ShortVoter
    </a>
</a>

@code
{
    public record MinimalTransaction(string Hash, DateTime Added, Party Party, string VoterAddress)
    {
        public string ShortHash => $"{Hash[..4]}-{Hash[^4..]}";

        public string ShortVoter => $"{VoterAddress[..8]}";
    }

    [Parameter, EditorRequired]
    public MinimalTransaction Transaction { get; set; } = default!;
}