<div class="flex w-full flex-col gap-3">
    @foreach (var vote in Votes)
    {
        <a @key="@vote.Hash"
           href="blockchain/votes/@vote.Hash"
           class="group flex flex-row justify-between items-center h-12 gap-3 p-4 rounded-md
                  bg-gray-700 hover:bg-gray-600 opacity-5
                  font-mono text-nowrap border-2 @vote.Party.GetBorderClass()
                  transition-transform animate-[slideDown_0.5s_ease_forwards]">
            <span class="text-white">
                @vote.ShortHash
            </span>

            <span class="text-gray-400 group-hover:text-white">
                @(vote.Timestamp.ToString("HH:mm:ss"))
            </span>

            <span class="@vote.Party.GetTextClass() font-extrabold font-2xl">
                @vote.Party.Id.ToString("00")
            </span>

            <a href="voters/@vote.VoterAddress"
               class="text-gray-400 group-hover:text-white truncate underline">
                @vote.ShortVoterAddress
            </a>
        </a>
    }
</div>

@code
{
    [Parameter]
    [EditorRequired]
    public List<VoteDto> Votes { get; set; } = [];

    [Parameter]
    public int Max { get; set; } = 10;

    public void AddVote(VoteDto votes)
    {
        Votes.Insert(0, votes);

        if (Votes.Count > Max)
            Votes = Votes[1..];
    }
}