@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<main class="w-full h-screen flex flex-col bg-background bg-topo font-archyedt overflow-x-hidden -z-50">
    <AppHeader/>

    <ErrorBoundary @ref="@ErrorBoundary" Context="Exception">
        <ChildContent>
            <article class="flex flex-row w-full h-[calc(100vh-5rem)] overflow-y-scroll text-center items-center justify-center scrollbar-none p-0 sm:p-5">
                @Body
            </article>
        </ChildContent>

        <ErrorContent>
            <Error ErrorBoundary="@ErrorBoundary"/>
        </ErrorContent>
    </ErrorBoundary>
</main>


<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                ShowProgressBar="false"
                ShowCloseButton="true"
                PauseProgressOnHover="true"
                RemoveToastsOnNavigation="true"

                InfoClass="@("!border-cyan-500 !shadow-cyan-500 " + Class)"
                SuccessClass="@("!border-green-500 !shadow-green-500 " + Class)"
                WarningClass="@("!border-yellow-500 !shadow-yellow-500 " + Class)"
                ErrorClass="@("!border-red-500 !shadow-red-500 " + Class)"/>

@code
{
    private const string Class = "!rounded-md !border-2 !text-base !font-archyedt !bg-background !text-white !shadow-lg";

    private ErrorBoundary ErrorBoundary { get; set; } = default!;
}