@using Application.ValueObjects

@* TODO add parameter shown, which will controll if the card is shown or not. also have a transition *@
@* TODO have a callback named Choose which when called the parent will hide all other cards, and give some effects to the clicked one. *@

@* @onclick="@(() => NavigationManager.NavigateTo("/stats"))" *@

<div class="group max-w-[300px] min-w-[260px] flex flex-col rounded-md
            select-none
            bg-party-card @Party.GetBgClass()
            border-2 border-gray-600 hover:border-white
            transition-[colors,transform] duration-300 ease-sweet
            hover:scale-105
            shadow-gray-500 @Party.GetShadowClass()
            shadow-party-card hover:shadow-party-card-hover">

    <div class="relative overflow-hidden">
        <img class="object-cover z-10 transition grayscale group-hover:grayscale-0 blur-[1px]"
             src="@Party.GetLogoPath()"
             alt="@Party.Name's logo"/>

        <img class="absolute top-5 inset-0 origin-bottom
                    transition-[opacity,transform] duration-[400ms] ease-sweet
                    group-hover:-translate-y-1
                    group-hover:scale-[102%] group-hover:opacity-100 object-cover z-20"
             src="@Party.GetLeaderPortraitPath()" alt="@Party.LeaderName"/>

        <img class="absolute top-5 inset-0 origin-bottom
                    transition-[opacity,transform] duration-[400ms] ease-sweet
                    group-hover:-translate-y-1 blur-[1px]
                    group-hover:scale-[102%] group-hover:opacity-0 object-cover z-20"
             src="@Party.GetLeaderGoldenPortraitPath()" alt="@Party.LeaderName"/>
    </div>

    <div class="p-3 bg-party-card-name text-gray-400 group-hover:text-white rounded-b-md text-center
                border-t-2 border-gray-600 group-hover:border-white
                text-2xl text-nowrap truncate
                transition duration-200 ease-sweet">
        @Party.Name
    </div>
</div>

@code
{
    [Parameter, EditorRequired]
    public Party Party { get; set; }
}