@using Domain.ValueObjects
@inject ApiService Api
@inject VoteService VoteService
@inject NavigationManager Nav

<div class="flex flex-col justify-center items-center p-4 max-w-full md:max-w-lg
            bg-gray-800 rounded-md font-archyedt border-2 @Party.GetBorderClass()">
    <h3 class="text-2xl text-white">
        გსურთ მიცეთ ხმა <span class="@Party.GetTextClass()">@Party.Name</span>'ს ?
    </h3>

    <div class="text-start self-start text-xl text-gray-300 mb-2">
        <span>პარტიის ნომერი:</span>
        <span class="@Party.GetTextClass()">@Party.Id</span>
    </div>

    <div class="w-full flex flex-row gap-3 justify-stretch text-xl">
        <button class="flex-1 py-2 px-4 hover:bg-gray-600 border-2 border-gray-500 hover:border-gray-300 text-gray-500 hover:text-gray-300 rounded-md" @onclick="@Close">
            არა
        </button>

        <button class="flex-1 py-2 px-4 hover:bg-gray-600 border-2 border-green-500 hover:border-green-300 text-green-500 hover:text-green-300 rounded-md" @onclick="@Vote">
            კი
        </button>
    </div>
</div>

@code
{
    [Parameter, EditorRequired]
    public Party Party { get; set; }

    [CascadingParameter]
    public BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task Close() => await BlazoredModal.CloseAsync();

    private async Task Vote()
    {
        await InvokeAsync(async () =>
        {
            var command = await VoteService.CreateVoteCommand(Party.Id);
            await Api.CastVote(command);
            Toast.ShowSuccess($"თქვენ წარმატებით მიეცით ხმა {Party.Name}-ს");
            Nav.NavigateTo("stats");
        });
    }
}